<div class="max-w-6xl mx-auto px-[20px]">
  <div>
    <h2 class="text-[44px] font-bold pb-10 pt-20">Project</h2>
  </div>
  <div class="grid md:grid-cols-[246px,auto] gap-8 py-10 border-b">
    <div>
      <img
        src="https://picsum.photos/246/180"
        class="w-full rounded-lg"
        alt=""
      />
    </div>
    <div>
      <h3 class="text-[30px] text-[#21243D] font-bold">
        Designing Dashboards
      </h3>
      <div class="flex space-x-4 items-center py-5 text-[16px]">
        <span
          class="inline-block py-1 px-2 font-bold text-white bg-[#142850] rounded-full"
          >2020</span
        >
        <span class="text-[#8695A4]">Dashboard</span>
      </div>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
        amet sint. Velit officia consequat duis enim velit mollit.
        Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
  <div class="grid md:grid-cols-[246px,auto] gap-8 py-10 border-b">
    <div>
      <img
        src="https://picsum.photos/246/180"
        class="w-full rounded-lg"
        alt=""
      />
    </div>
    <div>
      <h3 class="text-[30px] text-[#21243D] font-bold">
        Designing Dashboards
      </h3>
      <div class="flex space-x-4 items-center py-5 text-[16px]">
        <span
          class="inline-block py-1 px-2 font-bold text-white bg-[#142850] rounded-full"
          >2020</span
        >
        <span class="text-[#8695A4]">Dashboard</span>
      </div>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
        amet sint. Velit officia consequat duis enim velit mollit.
        Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
  <div class="grid md:grid-cols-[246px,auto] gap-8 py-10 border-b">
    <div>
      <img
        src="https://picsum.photos/246/180"
        class="w-full rounded-lg"
        alt=""
      />
    </div>
    <div>
      <h3 class="text-[30px] text-[#21243D] font-bold">
        Designing Dashboards
      </h3>
      <div class="flex space-x-4 items-center py-5 text-[16px]">
        <span
          class="inline-block py-1 px-2 font-bold text-white bg-[#142850] rounded-full"
          >2020</span
        >
        <span class="text-[#8695A4]">Dashboard</span>
      </div>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
        amet sint. Velit officia consequat duis enim velit mollit.
        Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
  <div class="grid md:grid-cols-[246px,auto] gap-8 py-10 border-b">
    <div>
      <img
        src="https://picsum.photos/246/180"
        class="w-full rounded-lg"
        alt=""
      />
    </div>
    <div>
      <h3 class="text-[30px] text-[#21243D] font-bold">
        Designing Dashboards
      </h3>
      <div class="flex space-x-4 items-center py-5 text-[16px]">
        <span
          class="inline-block py-1 px-2 font-bold text-white bg-[#142850] rounded-full"
          >2020</span
        >
        <span class="text-[#8695A4]">Dashboard</span>
      </div>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
        amet sint. Velit officia consequat duis enim velit mollit.
        Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</div>
