<footer class="py-5">
  <div class="max-w-6xl mx-auto px-5">
    <div class="flex justify-center space-x-4">
        <a href="">
            <img src="../../../assets/img/icon/facebook.svg" alt="">
        </a>
        <a href="">
            <img src="assets/img/icon/instagram.svg" alt="">
        </a>
        <a href="">
            <img src="assets/img/icon/linkedin.svg" alt="">
        </a>
        <a href="">
            <img src="assets/img/icon/twitter.svg" alt="">
        </a>
    </div>
    <p class="text-center mt-5">
        Copyright © dinhbtph14679
    </p>
  </div>
</footer>
