<section class="bg-gray-200 py-10">
  <div class="max-w-6xl mx-auto px-5 mt-5">
    <div class="grid md:grid-cols-[auto,600px] gap-8">
      <div class="form-contact bg-white rounded px-5">
        <div class="text-center pt-5">
          <h2 class="md:text-[30px] font-[poppins]">Contact US</h2>
          <span>We are here to hepl!</span>
        </div>
        <div>
          <form>
            <div class="grid md:grid-cols-2 pt-5 gap-4">
              <div class="col-span-1">
                <label>Name</label><br />
                <input class="border-[3px] p-1 w-full" placeholder="Nhập tên của bạn" type="text" />
              </div>
              <div class="col-span-1">
                <label>Phone</label><br />
                <input class="border-[3px] p-1 w-full" placeholder="Nhập SDT của bạn" type="number" />
              </div>
            </div>
            <div class="py-5">
              <label>Email</label><br />
              <input class="border-[3px] p-1 w-full" placeholder="Nhạp email của bạn" type="text"/>
            </div>
            <div>
              <label>Message</label><br />
              <textarea name="" id="" class="w-full h-[100px] border-[3px] p-1"
                placeholder="Gửi tin nhắn cho chúng tôi"></textarea>
            </div>
            <button class="w-full bg-red-500 h-10 text-white uppercase font-[poppins] rounded my-5 hover:bg-red-600">Gửi
              thông tin</button>
          </form>
        </div>
      </div>
      <iframe class="rounded md:inline-block  md:h-[480px] md:w-[600px] h-[150px] w-full"
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2166.7775536237823!2d105.7465417917271!3d21.03806136450656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYywgVMOyYSBuaMOgIEZQVCBQb2x5dGVjaG5pYywgUC4gVHLhu4tuaCBWxINuIELDtCwgWHXDom4gUGjGsMahbmcsIE5hbSBU4burIExpw6ptLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!3m2!1d21.038127799999998!2d105.74678709999999!5e0!3m2!1svi!2s!4v1654941427977!5m2!1svi!2s"
        width="600" height="480" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
