   <section class="info py-10">
      <div class="max-w-6xl mx-auto px-5">
        <div class="grid md:grid-cols-3">
          <div class="md:col-span-2 order-2 md:order-1">
            <h2 class="text-3xl md:mt-0 mt-10 md:text-[44px] font-bold leading-[60px]">
              Hi i'm Tien Dinh <br />
              Web Developer
            </h2>
            <p class="text-[16px] my-5">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <a
              href=""
              class="inline-block bg-[#FF6464] text-[20px] md:px-8 px-24 py-3 rounded-lg text-white"
              >Dowload Resume</a
            >
          </div>
          <div class="md:col-span-1 order-1 md:order-2">
            <img
              src="https://scontent.fhan2-2.fna.fbcdn.net/v/t39.30808-1/240591674_1043256089777869_3939517370919091590_n.jpg?stp=dst-jpg_p240x240&_nc_cat=106&ccb=1-7&_nc_sid=7206a8&_nc_ohc=ALbHHHQq10oAX-JMWmw&_nc_ht=scontent.fhan2-2.fna&oh=00_AT-IiYKwqxkdx5BAn0h1QLBfcW5zwLj4MdQ_-XXpgrWjcg&oe=62AC22D9"
              class="rounded-full md:ml-auto md:mr-0 mx-auto"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <section class="recent-posts bg-[#EDF7FA] py-6">
      <div class="max-w-6xl mx-auto px-5">
        <div class="flex justify-center md:justify-between py-5">
          <h2 class="text-[22px] text-center md:text-left">Recent posts</h2>
          <a href="" class="text-[#00A8CC] hidden md:inline-block"> View all </a>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
          <div class="bg-white px-5 py-8">
            <a href="" class="font-bold text-[26px]">
              Making a design system from scratch
            </a>
            <div class="py-5">
              <span>12 Feb 2020</span>
              <span class="px-4">|</span>
              <span>Design, Pattern</span>
            </div>
            <p class="text-base">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <div class="bg-white px-5 py-8">
            <a href="" class="font-bold text-[26px]">
              Making a design system from scratch
            </a>
            <div class="py-5">
              <span>12 Feb 2020</span>
              <span class="px-4">|</span>
              <span>Design, Pattern</span>
            </div>
            <p class="text-base">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="feature-projects">
      <div class="max-w-6xl mx-auto py-5 px-4">
        <div>
          <h2 class="text-center md:text-left">Featured project</h2>
        </div>
        <div class="grid md:grid-cols-[246px,auto] gap-8 py-10 border-b">
          <div>
            <img
              src="https://picsum.photos/246/180"
              class="w-full rounded-lg"
              alt=""
            />
          </div>
          <div>
            <h3 class="text-[30px] text-[#21243D] font-bold">
              Designing Dashboards
            </h3>
            <div class="flex space-x-4 items-center py-5 text-[16px]">
              <span
                class="inline-block py-1 px-2 font-bold text-white bg-[#142850] rounded-full"
                >2020</span
              >
              <span class="text-[#8695A4]">Dashboard</span>
            </div>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <div class="grid md:grid-cols-[246px,auto] gap-8 py-10 border-b">
          <div>
            <img
              src="https://picsum.photos/246/180"
              class="w-full rounded-lg"
              alt=""
            />
          </div>
          <div>
            <h3 class="text-[30px] text-[#21243D] font-bold">
              Designing Dashboards
            </h3>
            <div class="flex space-x-4 items-center py-5 text-[16px]">
              <span
                class="inline-block py-1 px-2 font-bold text-white bg-[#142850] rounded-full"
                >2020</span
              >
              <span class="text-[#8695A4]">Dashboard</span>
            </div>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <div class="grid md:grid-cols-[246px,auto] gap-8 py-10 border-b">
          <div>
            <img
              src="https://picsum.photos/246/180"
              class="w-full rounded-lg"
              alt=""
            />
          </div>
          <div>
            <h3 class="text-[30px] text-[#21243D] font-bold">
              Designing Dashboards
            </h3>
            <div class="flex space-x-4 items-center py-5 text-[16px]">
              <span
                class="inline-block py-1 px-2 font-bold text-white bg-[#142850] rounded-full"
                >2020</span
              >
              <span class="text-[#8695A4]">Dashboard</span>
            </div>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
    </section>
