<section class="detail-project">
  <div class="max-w-6xl mx-auto px-[10px] pt-5">
    <div>
      <h2 class="md:text-[34px] text-[30px] font-bold">
        {{blog.name}}
      </h2>
      <div class="space-x-4 py-5">
        <span class="md:text-[20px] text-[18px]"
          >{{blog.userCreate}}</span
        >
      </div>
      <p class="text-[16px]">
        {{blog.description}}
      </p>
    </div>
    <div class="py-5">
      <img src="https://picsum.photos/500/380" class="w-full" alt="" />
    </div>
  </div>
</section>
