<section class="bg-black h-full">
  <div>
    <img src="../../../assets/img/2f43b752a2c64edfb3a82086def2f063-removebg-preview.png" class="text-[#333]">
  </div>
  <nav>
    <ul class="px-2">
      <li class="hover:bg-gray-300 hover:text-red-500 p-3 rounded text-white"><a routerLink="/admin/dashboard"><fa-icon [icon]="faHouseUser"></fa-icon> Dashboard</a></li>
      <li class="hover:bg-gray-300 hover:text-red-500 p-3 rounded text-white"><a routerLink="/admin/blog"><fa-icon [icon]="faNewspaper"></fa-icon>  Blog</a></li>
      <li class="hover:bg-gray-300 hover:text-red-500 p-3 rounded text-white"><a routerLink="/admin/project"><fa-icon [icon]="faDiagramProject"></fa-icon>  Project</a></li>
    </ul>
  </nav>
</section>
