<section class="detail-project">
  <div class="max-w-6xl mx-auto px-[10px]">
    <div>
      <h2 class="md:text-[34px] text-[30px] font-bold">
        Designing Dashboards with usability in mind
      </h2>
      <div class="space-x-4 py-5">
        <span class="bg-[#FF7C7C] px-2 py-1 text-white rounded-lg">2020</span>
        <span class="md:text-[20px] text-[18px]">Dashboard, User Experience Design</span>
      </div>
      <p class="text-[16px]">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="py-5">
      <img src="https://picsum.photos/500/380" class="w-full" alt="" />
    </div>
    <div>
      <h2 class="py-2 text-[30px] text-[#21243D]">Heading 1</h2>
      <h3 class="py-2 text-[24px]">Heading 2</h3>
      <p class="pt-2 pb-5 text-[16px]">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="py-5">
      <img src="https://picsum.photos/500/380" class="w-full" alt="" />
    </div>
    <div class="py-5">
      <img src="https://picsum.photos/500/380" class="w-full" alt="" />
    </div>
  </div>
</section>
