<div class="max-w-6xl mx-auto px-5">
  <div class="md:flex md:justify-between md:items-center">
    <div>
      <a href="/" class="no-underline"><img src="assets/img/2f43b752a2c64edfb3a82086def2f063-removebg-preview.png" class="h-24" alt=""></a>
    </div>
    <div>
      <ul class="md:flex md:items-center md:space-x-8 md:py-5 text-[20px]">
        <li><a routerLink="/" class="hover:text-[#FF6464]">Home</a></li>
        <li><a routerLink="/project" class="hover:text-[#FF6464]">Project</a></li>
        <li><a routerLink="/blog" class="hover:text-[#FF6464]">Blog</a></li>
        <li><a routerLink="/contact" class="hover:text-[#FF6464]">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
